{
  "Entries": [
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id",
      "RequestMethod": "PUT",
      "RequestBody": "{\r\n  \"name\": \"name\",\r\n  \"userData\": \"userdata\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 200
    },
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id/persons",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"name\": \"personName\",\r\n  \"userData\": \"personUserdata\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"personId\": \"31d6f67a-093e-40a2-b2a3-5dae571bea53\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id/persons/person-id/persistedfaces",
      "RequestMethod": "POST",
      "RequestBody": "/9j/4AAQSkZJRgABAQEAYABgAAD/2wBDAAoHBwkHBgoJCAkLCwoMDxkQDw4ODx4WFxIZJCAmJSMgIyIoLTkwKCo2KyIjMkQyNjs9QEBAJjBGS0U+Sjk/QD3/2wBDAQsLCw8NDx0QEB09KSMpPT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT09PT3/wAARCADXASwDASIAAhEBAxEB/8QAHwAAAQUBAQEBAQEAAAAAAAAAAAECAwQFBgcICQoL/8QAtRAAAgEDAwIEAwUFBAQAAAF9AQIDAAQRBRIhMUEGE1FhByJxFDKBkaEII0Kxw[...]
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id/train",
      "RequestMethod": "POST",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Operation-Location": [
          "http://facev1-cs-snapshotea.cloudapp.net:8080/persongroups/persongroups-id/training"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id/training",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"status\": \"running\",\r\n  \"createdDateTime\": \"2018-12-13T06:47:51.9117078Z\",\r\n  \"lastActionDateTime\": \"2018-12-13T06:47:51.9117078Z\",\r\n  \"message\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/face/v1.0/snapshots",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"type\": \"PersonGroup\",\r\n  \"objectId\": \"persongroups-id\",\r\n  \"ApplyScope\": [\r\n    \"subscription\"\r\n  ],\r\n  \"context\": \"user provided context data\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Operation-Location": [
          "/operations/operations-id"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
    {
      "RequestUri": "/face/v1.0/operations/operations-id",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"CreatedTime\": \"2018-12-13T06:47:53.41167Z\",\r\n  \"LastActionTime\": \"0001-01-01T00:00:00\",\r\n  \"Message\": null,\r\n  \"ResourceLocation\": null,\r\n  \"Status\": \"notStarted\"\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/face/v1.0/snapshots/snapshots-id/apply",
      "RequestMethod": "POST",
      "RequestBody": "{\r\n  \"objectId\": \"new-personGroup-id\",\r\n  \"mode\": \"CreateNew\"\r\n}",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ],
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseHeaders": {
        "Operation-Location": [
          "/operations/63a8df94-770a-409a-a428-f87586154415"
        ]
      },
      "ResponseBody": "",
      "StatusCode": 202
    },
[...]
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"personGroupId\": \"2c760023-3749-4d9f-9f64-04502c1e34cd\",\r\n  \"name\": \"name\",\r\n  \"userData\": \"userdata\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id/persons/person-id",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"personId\": \"31d6f67a-093e-40a2-b2a3-5dae571bea53\",\r\n  \"persistedFaceIds\": [\r\n    \"380679fd-0585-4d9b-aa60-f1d39b689f31\"\r\n  ],\r\n  \"name\": \"personName\",\r\n  \"userData\": \"personUserdata\"\r\n}",
      "StatusCode": 200
    },
    {
      "RequestUri": "/face/v1.0/persongroups/persongroups-id/persons/person-id/persistedfaces/face-id",
      "RequestMethod": "GET",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
        "Content-Type": [
          "application/json; charset=utf-8"
        ]
      },
      "ResponseBody": "{\r\n  \"persistedFaceId\": \"380679fd-0585-4d9b-aa60-f1d39b689f31\",\r\n  \"userData\": null\r\n}",
      "StatusCode": 200
    },
[...]
    {
      "RequestUri": "/face/v1.0/snapshots/snapshots-id",
      "RequestMethod": "DELETE",
      "RequestBody": "",
      "RequestHeaders": {
        "Ocp-Apim-Subscription-Key": [
          ""
        ]
      },
      "ResponseHeaders": {
      },
      "ResponseBody": "",
      "StatusCode": 200
    }
  ],
  "Names": {},
  "Variables": {}
}